@media screen and (max-width: 1140px) {
  .cover {
    width: calc(100% + (48px*2));
  }
}

@media screen and (max-width: 984px) {
  .cover {
    width: calc(100% + (24px*2));
  }
}
 
@media screen and (max-width: 568px) {
  .cover {
    width: calc(100% + (16px*2));
  }
}