.place {
  display: grid;
  grid-template-columns: fit-content(460px) minmax(min-content, max-content);
  gap: 48px 40px;
}

@media screen and (max-width: 1140px) {
  .place {
    grid-template-columns: fit-content(440px) minmax(min-content, max-content);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    grid-template-columns: fit-content(340px) minmax(min-content, max-content);
    gap: 48px 28px;
  }
}
 
@media screen and (max-width: 568px) {
  .place {
    display: flex;
    flex-direction: column;
    row-gap: 32px; 
  }
}